In [1]:
import pandas as pd

df = pd.DataFrame(
    {
        "Category": ["A", "B", "A", "C", "B", "A"],
        "Value": [10, 25, 15, 30, 20, 12],
    }
)
df

  Category  Value
0        A     10
1        B     25
2        A     15
3        C     30
4        B     20
5        A     12

## [`describe()`](https://pandas.pydata.org/pandas-docs/stable/user_guide/basics.html#summarizing-data-describe)

In [2]:
df.describe(include="all")

       Category      Value
count         6   6.000000
unique        3        NaN
top           A        NaN
freq          3        NaN
mean        NaN  18.666667
std         NaN   7.788881
min         NaN  10.000000
25%         NaN  12.750000
50%         NaN  17.500000
75%         NaN  23.750000
max         NaN  30.000000

## [YData Profiling](https://docs.profiling.ydata.ai/latest/)

In [ ]:
from ydata_profiling import ProfileReport

profile = ProfileReport(df, title="Pandas Profiling Report")
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦