In [2]:
import pandas as pd

df = pd.DataFrame(
    {
        "Category": ["A", "B", "A", "C", "B", "A"],
        "Value": [10, 25, 15, 30, 20, 12],
    }
)
df

  Category  Value
0        A     10
1        B     25
2        A     15
3        C     30
4        B     20
5        A     12

## [`describe()`](https://pandas.pydata.org/pandas-docs/stable/user_guide/basics.html#summarizing-data-describe)

In [3]:
df.describe(include="all")

       Category      Value
count         6   6.000000
unique        3        NaN
top           A        NaN
freq          3        NaN
mean        NaN  18.666667
std         NaN   7.788881
min         NaN  10.000000
25%         NaN  12.750000
50%         NaN  17.500000
75%         NaN  23.750000
max         NaN  30.000000

## [YData Profiling](https://docs.profiling.ydata.ai/latest/)

In [4]:
from ydata_profiling import ProfileReport

profile = ProfileReport(df, title="Pandas Profiling Report")
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦

### Real data

Using [Congestion Pricing data](https://data.ny.gov/Transportation/MTA-Congestion-Relief-Zone-Vehicle-Entries-Beginni/t6yz-b64h/about_data).

In [9]:
entries = pd.read_csv(
    "https://data.ny.gov/resource/t6yz-b64h.csv?$limit=500000",
    parse_dates=["toll_date", "toll_hour", "toll_10_minute_block", "toll_week"],
)
entries

,toll_date,toll_hour,toll_10_minute_block,minute_of_hour,hour_of_day,day_of_week_int,day_of_week,toll_week,time_period,vehicle_class,detection_group,detection_region,crz_entries,excluded_roadway_entries
0,2025-02-08,2025-02-08 23:00:00,2025-02-08 23:50:00,50,23,7,Saturday,2025-02-02,Overnight,"1 - Cars, Pickups and Vans",Brooklyn Bridge,Brooklyn,59,52
1,2025-02-08,2025-02-08 23:00:00,2025-02-08 23:50:00,50,23,7,Saturday,2025-02-02,Overnight,TLC Taxi/FHV,West Side Highway at 60th St,West Side Highway,49,2
2,2025-02-08,2025-02-08 23:00:00,2025-02-08 23:50:00,50,23,7,Saturday,2025-02-02,Overnight,TLC Taxi/FHV,West 60th St,West 60th St,190,0
3,2025-02-08,2025-02-08 23:00:00,2025-02-08 23:50:00,50,23,7,Saturday,2025-02-02,Overnight,TLC Taxi/FHV,Queensboro Bridge,Queens,42,0
4,2025-02-08,2025-02-08 23:00:00,2025-02-08 23:50:00,50,23,7,Saturday,2025-02-02,Overnight,TLC Taxi/FHV,Queens Midtown Tunnel,Queens,51,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362875,2025-01-05,2025-01-05 00:00:00,2025-01-05 00:00:00,0,0,1,Sunday,2025-01-05,Overnight,TLC Taxi/FHV,Brooklyn Bridge,Brooklyn,94,29
362876,2025-01-05,2025-01-05 00:00:00,2025-01-05 00:00:00,0,0,1,Sunday,2025-01-05,Overnight,TLC Taxi/FHV,Hugh L. Carey Tunnel,Brooklyn,3,1
362877,2025-01-05,2025-01-05 00:00:00,2025-01-05 00:00:00,0,0,1,Sunday,2025-01-05,Overnight,TLC Taxi/FHV,Manhattan Bridge,Brooklyn,85,0
362878,2025-01-05,2025-01-05 00:00:00,2025-01-05 00:00:00,0,0,1,Sunday,2025-01-05,Overnight,TLC Taxi/FHV,Williamsburg Bridge,Brooklyn,150,0
362879,2025-01-05,2025-01-05 00:00:00,2025-01-05 00:00:00,0,0,1,Sunday,2025-01-05,Overnight,TLC Taxi/FHV,East 60th St,East 60th St,320,0

In [10]:
profile = ProfileReport(entries, title="Congestion data")
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦