In [3]:
# and we will store the data in bigquery
import pandas_gbq
import yfinance as yf  # for downloading stock data

### Getting daily data from last month

In [4]:
dat = yf.Ticker("MSFT")
msft_df = dat.history(period="1mo")
# drop last 2 rows, so we can update later
msft_df = msft_df[:-2]
msft_df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2026-01-12 00:00:00-05:00,476.670013,480.989990,475.679993,477.179993,23519900,0.0,0.0
2026-01-13 00:00:00-05:00,474.679993,475.779999,465.950012,470.670013,28545800,0.0,0.0
2026-01-14 00:00:00-05:00,466.459991,468.200012,457.170013,459.380005,28184300,0.0,0.0
2026-01-15 00:00:00-05:00,464.119995,464.250000,455.899994,456.660004,23225800,0.0,0.0
2026-01-16 00:00:00-05:00,457.829987,463.190002,456.480011,459.859985,34246700,0.0,0.0
2026-01-20 00:00:00-05:00,451.220001,456.799988,449.279999,454.519989,26130000,0.0,0.0
2026-01-21 00:00:00-05:00,452.600006,452.690002,438.679993,444.109985,37980500,0.0,0.0
2026-01-22 00:00:00-05:00,447.619995,452.839996,444.700012,451.140015,25349400,0.0,0.0
2026-01-23 00:00:00-05:00,451.869995,471.100006,450.529999,465.950012,38000200,0.0,0.0
2026-01-26 00:00:00-05:00,465.309998,474.250000,462.000000,470.279999,29291200,0.0,0.0
2026-01-27 00:00:00-05:00,473.700012,482.869995,473.160004,480.579987,29213900,0.0,0.0
2026-01-28 00:00:00-05:00,483.209991,483.739990,478.000000,481.630005,36875400,0.0,0.0
2026-01-29 00:00:00-05:00,439.989990,442.500000,421.019989,433.500000,128855300,0.0,0.0
2026-01-30 00:00:00-05:00,439.170013,439.600006,426.450012,430.290009,58566800,0.0,0.0
2026-02-02 00:00:00-05:00,430.239990,430.739990,422.250000,423.369995,42219900,0.0,0.0
2026-02-03 00:00:00-05:00,422.010010,422.049988,408.559998,411.209991,61424100,0.0,0.0
2026-02-04 00:00:00-05:00,411.000000,419.799988,409.239990,414.190002,45012400,0.0,0.0
2026-02-05 00:00:00-05:00,407.440002,408.299988,392.320007,393.670013,66289200,0.0,0.0
2026-02-06 00:00:00-05:00,399.170013,401.790009,392.920013,401.140015,53515300,0.0,0.0
2026-02-09 00:00:00-05:00,404.850006,414.890015,400.869995,413.600006,45480500,0.0,0.0

## Creating BigQuery Table

In [9]:
from load_data import PROJECT_ID, TABLE

# to BigQuery
pandas_gbq.to_gbq(
    msft_df,
    destination_table=TABLE,
    project_id=PROJECT_ID,
    if_exists="replace",
)